* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
/*             Main Content Area              */
.main {
    display: grid;
    grid-template-columns: 350px 1fr;
    max-width: 1200px;
    gap: 45px;
    margin: auto;
    padding-top: 40px;
    border-radius: 10px;
}

.sidebar {
    height: 90vh;
    background-color: #2a2a2a;
    padding: 40px;
    border-radius: 16px;
}

.main_content {
    height: 90vh;
    background-color: #2a2a2a;
    border-radius: 16px;
}


/*                    Profile            */

.profile {
    text-align: center;
}

.profile_img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    -webkit-user-drag: none;
    user-select: none;
}

.profile h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p {
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
/*               infomation               */

.information{
    margin-top: 30px;
    border-top: 1px solid #3a3a3a;
    padding-top: 20px;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
    user-select: none;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email, .phone, .location{
    margin-bottom: 15px;
}



/*             Social Links              */
.social_links{
    margin-top: 30px;
    border-top: 1px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}

.social_links img {
    height: 25px;
    width: 25px;
    margin-left: 5px;
    cursor: pointer;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social_links img:hover{
    filter: grayscale(0) invert(0);
}